.container-fluid{
    background: linear-gradient(to right,rgb(233, 197, 197) ,rgb(219, 50, 78));
    padding: 0px;
    padding: bottom 3px;
}
.learn{
    display: flex;
}
#born{
    color: red;
}
#title{
    color: navy;
    text-align: center;
}
#item{
    text-align: center;
    color: darkgreen;
}
.form-label{
    color: purple;
    text-align: start;
}
.person{
    text-align: start;
}
.card{
    border-color: aqua;
}
#card1{
    color: navy;
    background-color:rgb(216, 184, 184);
}
#card2{
    color: black ;
    background-color: bisque;
}
.card-title{
    color: green;
}



