.container-fluid{
    background: linear-gradient(to right,rgb(233, 197, 197) ,rgb(219, 50, 78));
    padding: 0px;
    padding: bottom 3px;
}
.nav{
    color:white;
    padding-left:20px;
    text-align: end;
    padding-top: 2%;
    padding-bottom: 2%;
}
#card3{
    background-color: aliceblue;
}
.learn{
    display: flex;
}
#born{
    color: rgb(29, 214, 214);
}
#title{
    color: rgb(7, 7, 34);
    text-align: center;
}
#item{
    text-align: center;
    color: darkgreen;
}
.form-label{
    color: purple;
    text-align: start;
}
.person{
    text-align: start;
}
.card{
    border-color: aqua;
}
#card1{
    color: navy;
    background-color:rgb(216, 184, 184);
}
#card2{
    color: black ;
    background-color: bisque;
}
.card-title{
    color: green;
}
.btn btn-primary{
    color: black;
}



